<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <style>
        img{
            width: 300px;
            height: 300px;
        }
    </style>
    <body>
        <%- include("./partials/nav.ejs") %>
        <!-- <h1>GALLERY HERE</h1> -->
       <img src="it.jpg" alt="it rasmi">
        <img src="mushuk.jpg" alt="mushuk rasmi">
        <img src="mushuk1.webp" alt="mushuk rasmi">
       
    </body>
</html>
