<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h1>JOBS:</h1>
        <ul>
            <li>
                NodeJS Middle/Senior Flutter Developer - 2000$ - 3000$ (PayMe)
            </li>
            <li>
                NodeJS Middle/Senior Frontend Developer - 2500$ - 3500$ (Click)
            </li>
            <li>
                VueJS Middle/Senior Full stack Developer - 2000$ - 3000$ (PayMe)
            </li>
        </ul>
    </body>
</html>
